<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand">Rech. de Film</a>
    <button class="navbar-toggler" type="button" (click)="toggle()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" [attr.aria-expanded]="showFilter" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page">Accueil</a></li>
        <li class="nav-item dropdown" *ngIf="isAuth" [ngClass]="{show: showFilter}">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" [attr.aria-expanded] = "showFilter" role="button" (click)="toggle()">Trier par: <strong>{{sortBy}}</strong></a>
          <ul class="dropdown-menu" [ngClass]="{show: showFilter}" aria-labelledby="navbarDropdown" [attr.data-bs-popper] = "!showFilter">
            <li><a class="dropdown-item" (click)="selectItem('Title')">Title</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li (click)="selectItem('Rotten Tomatoes Rating')"><a class="dropdown-item">Rotten Tomatoes Rating</a></li>
            <li (click)="selectItem('IMDB Rating')"><a class="dropdown-item">IMDB Rating</a></li>
            <li (click)="selectItem('IMDB Votes')"><a class="dropdown-item">IMDB Votes</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" *ngIf="isAuth">
        <button class="btn btn-outline-dark" type="submit"  (click)="deconnexion()">
          <i class="bi-cart-fill me-1"></i>
          Deconnexion
          <span class="badge  text-white ms-1 rounded-pill"><img src="https://img.icons8.com/fluency/24/000000/checked-user-male.png"/></span>
        </button>
      </form>
    </div>
  </div>
</nav>
<section class="py-5" *ngIf="!isAuth">
  <canal-user-auth></canal-user-auth>
</section>

<section *ngIf="isAuth" class="py-5" style="margin-bottom: 50px">
  <canal-search-area [sortBy]="sortBy"></canal-search-area>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark" style="position: fixed; bottom: 0px; left: 0px; right: 0px">
  <div ><p class="m-0 text-center text-white">Copyright &copy; 2022 | Recherche de Films</p></div>
</footer>

<router-outlet></router-outlet>
