<div class="container px-4 px-lg-5 my-5">
  <div class="row gx-4 gx-lg-5">
    <div class="col-lg-12">
      <form id="contactForm">
        <div style="text-align: center; padding: 25px">
          <img src="https://img.icons8.com/fluency/96/000000/search.png"/>
        </div>
        <div class="form-floating mb-3">
          <input id="input" class="form-control" type="text" [formControl]="input" />
          <label for="input">Recherche par Titre ...</label>
        </div>
      </form>
      <ng-container>
        <div class="accordion" id="accordionExample" *ngFor="let movie of movies | slice:1:100; let i = index;">

          <div class="accordion-item">
            <h2 class="accordion-header" [id] = "'heading' + i" >
              <button class="accordion-button" (click)="selectItem(i)" [ngStyle]="{ 'background-color': isSelectedIndex(i) ? '#F9F9F9' : 'white'}" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" [attr.aria-expanded]="isSelectedIndex(i)" [attr.aria-controls]="'collapse' + i">
                #{{ inc(i) }} {{movie.Title}}
              </button>
            </h2>
            <div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{ show: isSelectedIndex(i)}" [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Rot. T. Rating</th>
                    <th scope="col">IMDB Rating</th>
                    <th scope="col">IMDB Votes</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">US Gross</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{movie["Rotten Tomatoes Rating"]}}</td>
                    <td>{{movie["IMDB Rating"]}}</td>
                    <td>{{movie["IMDB Votes"]}}</td>
                    <td>{{movie["Release Date"]}}</td>
                    <td>{{movie["US Gross"]}}</td>
                  </tr>
                  </tbody>
                </table>

                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Worldwide Gross</th>
                    <th scope="col">Production Budget</th>
                    <th scope="col">Major Genre</th>
                    <th scope="col">Director</th>
                    <th scope="col">Distributor</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{movie["Worldwide Gross"]}}</td>
                    <td>{{movie["Production Budget"]}}</td>
                    <td>{{movie["Major Genre"]}}</td>
                    <td>{{movie.Director}}</td>
                    <td>{{movie.Distributor}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
