<div class="container px-4 px-lg-5 my-5">
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-8 offset-md-2 col-sm-12 offset-sm-0">
      <div style="text-align: center"><img src="https://img.icons8.com/fluency/96/000000/guest-male.png"/></div>
      <form id="contactForm"
            style="margin-top: 50px; padding: 50px 50px 80px 50px; box-shadow: 0px 5px 4px rgba(64, 64, 64, 0.3); border-radius: 5px"
      >
        <div class="form-floating mb-3">
          <input class="form-control" id="name" [(ngModel)]="name" type="text" name="name" placeholder="Pseudo..." data-sb-validations="required" />
          <label for="name">Pseudo</label>
          <div class="invalid-feedback" data-sb-feedback="name:required">Pseudo requis.</div>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="password" type="password" [(ngModel)]="password" name="password" placeholder="Mot de passe..." data-sb-validations="required" />
          <label for="password">Mot de passe</label>
          <div class="invalid-feedback" data-sb-feedback="name:required">Mot de passe requis.</div>
        </div>

        <!--<div class="d-none" id="submitSuccessMessage">
          <div class="text-center mb-3">
            <div class="fw-bolder">Form submission successful!</div>
            To activate this form, sign up at
            <br />
            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
          </div>
        </div>-->

        <div class="d-none" id="submitErrorMessage" *ngIf="onerror"><div class="text-center text-danger mb-3">Error sending message!</div></div>
        <!-- Submit Button-->
        <div class="d-grid"  style="text-align: center">
          <button class="btn btn-primary btn-lg"  id="submitButton" type="submit" (click)="connexion()">Connexion</button>
        </div>
      </form>
    </div>
  </div>
</div>
